<div class="cards-container">

    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-1"></div>
            <mat-card-title>{{funcionariosList[0].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro4.webp"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[0].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-2"></div>
            <mat-card-title>{{funcionariosList[1].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro2.webp"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[1].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-3"></div>
            <mat-card-title>{{funcionariosList[2].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro3.jpeg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[2].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-4"></div>
            <mat-card-title>{{funcionariosList[3].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro1.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[3].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-5"></div>
            <mat-card-title>{{funcionariosList[4].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro5.png"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[4].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-6"></div>
            <mat-card-title>{{funcionariosList[5].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro6.jpeg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[5].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-7"></div>
            <mat-card-title>{{funcionariosList[6].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro7.png"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[6].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-8"></div>
            <mat-card-title>{{funcionariosList[7].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro8.png"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[7].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-9"></div>
            <mat-card-title>{{funcionariosList[8].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro9.png"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[8].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="barbeiro-10"></div>
            <mat-card-title>{{funcionariosList[9].nome}}</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro10.png"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog(funcionariosList[9].nome)">Horários!</button>
        </mat-card-actions>
    </mat-card>

</div>

