
.mat-table{
  width: 100%;

  margin-left: 70px;
}

.btn-edit{
  background-color: transparent;
  padding-left: 2px;
  padding-right: 2px;
}

.btn-edit:hover{
  background-color: transparent;
  color: white;

  border-radius: none;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align: center;
}




