.mat-toolbar{
  position:fixed;
	bottom: 0;
  padding-top: 150px;

  width: 100%;


}

a{
  width: 100%;
  margin-left: 40%;
  margin-bottom: 10%;


}

.mat-toolbar:hover a{

  cursor: pointer;


}

p{
  text-align: center;
}
